@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body{
	font-family: 'Montserrat', sans-serif;
	position: relative;
}

.container{
	width: 100%;
}
.MapsTextSize{
	font-size: 12px;
	margin-left: 20px;
}
.left40{
	margin-left: 40px;
}
/*NAV*/

.nav{
	box-shadow: 0 0 50px rgba(0,0,0,0.1);
}
.nav .wrapper{
	width: 1500px;
	height: 100px;

	margin: 0 auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__logo{
	width: 275px;
}
.nav__menu{
	display: flex;

	gap: 40px;
}

.nav__item{
	list-style-type: none;
}
.nav__link{
	text-decoration: none;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;

	color: #484848;
}

.nav__phone{
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	color: #484848;
}



/*NAV*/

.nav{
	box-shadow: 0 0 50px rgba(0,0,0,0.1);
}
.nav .wrapper{
	width: 1500px;
	height: 100px;

	margin: 0 auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__logo{
	width: 275px;
}
.nav__menu{
	display: flex;

	gap: 40px;
}

.nav__item{
	list-style-type: none;
}
.nav__link{
	text-decoration: none;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;

	color: #484848;
}

.nav__phone{
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	text-align: center;

	color: #484848;
}

/*NAV END*/

/*SWIPER START*/

.swiper {
width: 100%;
height: 900px;
}

.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}

/*SWIPER END*/

.my-button-next{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff url(../img/next.png) no-repeat center center;
    z-index: 10;
    cursor: pointer;
}
.my-button-prev{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff url(../img/prev.png) no-repeat center center;
    z-index: 10;
    cursor: pointer;
}

.arrow{
    width: 100%;
    height: 100px;
    background: #F2EEEE;
    display: flex;
    align-items: center;
}
.icon{
    display: block;
    width: 103px;
    height: 60px;
    margin: 0 auto;
}



/* Види виробів*/


.FirstLineOfVar , .SecondLineOfVar{
	width: 1400px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	margin: auto;
}
.dors , .title{
    margin: 100px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 59px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #212121;
}


.dors .wrapper{
    width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.dors .wrapper .column{
    text-align: center;
    margin-bottom: 130px;
}
.dors  	 .wrapper .dor-name{
    margin-bottom: 24px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    color: #212121;
}
.dors .wrapper .dor-info{
    margin-bottom: 45px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #212121;
}
.dors .wrapper .dor-link{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #212121;
    padding: 13px 26px;
    border: 2px solid #000;
    transition: all 0.5s ease;
}
.dors .wrapper .dor-link:hover{
    color: #fff;
    background: #212121;
}

.column-2, .column-5{
    margin: 0 180px;
}



/* Our works */

.gallery-photoBlock1 , .gallery-photoBlock2 , .gallery-photoBlock3{
	width: 1400px;
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	margin-left: 60px;
}

/* End of Our works */



/* Contacts */

.MapsLastPage{

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 100px;
}
.MapsBlockFirst{
	width: 1080px;
	height: 400px;
	background-image: url(../img/FirstMap.png);
	background-size: 100%;
}
.BlockInsideMapFirst{
	width: 270px;
	height: 350px;
	background: white;
	margin: 30px 0px 0px 50px ;
}
.MapsBlockSecond{
	width: 1080px;
	height: 400px;
	background-image: url(../img/SecondMap.png);
	background-size: 100%;
	margin-top: 50px;
}
.BlockInsideMapSecond{
	width: 270px;
	height: 350px;
	background: white;
	margin: 30px 0px 0px 760px ;
}
.MapsBlockThree{
	width: 1080px;
	height: 400px;
	background-image: url(../img/ThreeMap.png);
	background-size: 100%;
	margin-top: 50px;
}
.BlockInsideMapThree{
	width: 270px;
	height: 350px;
	background: white;
	margin: 30px 0px 0px 50px ;
}
.MapLogoImg{
	width: 140px;
	height: 43px;
	margin-left: 70px;
	margin-top: 10px;
}
.ImgForContactInstagram{
	width: 25px;
	margin-top: 10px;
	margin-left: 20px;
}
.ImgForContactTelegram{
	width: 25px;
	margin-left: 5px;
}
.ImgForContactWhatsapp{
	width: 25px;
	margin-left: 5px;
}
.ImgForContactFacebook{
	width: 25px;
	margin-left: 5px;
}

/* End Of Contact*/



/* Our Brends */

.OurDorsBrends , .OurDorsVikna{
	width: 100%;
	text-align: center;
}
.OurDorsBrendName , .OurViknaBrendName{
	display: flex;
	justify-content: space-around;
}

/*END of Our Brends*/


/* Footer */
